
body {
  background-color: rgb(13, 65, 112);
}

.App {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 55px;
  padding: 20px 49px 59px 49px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
             0 3px 0 #bbb,
             0 4px 0 #b9b9b9,
             0 5px 0 #aaa,
             0 6px 1px rgba(0,0,0,.1),
             0 0 5px rgba(0,0,0,.1),
             0 1px 3px rgba(0,0,0,.3),
             0 3px 5px rgba(0,0,0,.2),
             0 5px 10px rgba(0,0,0,.25),
             0 10px 10px rgba(0,0,0,.2),
             0 20px 20px rgba(0,0,0,.15);
}

input {
  margin: 5px;
}

.task-input{
  box-shadow: 0 4px 20px 4px rgba(0,0,0,.4);
}

.date-input{
  box-shadow: 0 4px 20px 4px rgba(0,0,0,.4);
}

.green-button {
  box-shadow: 0 4px 20px 4px rgba(0,0,0,.4);
  margin-left: 5px;
}

.reminder-form {
  padding: 5px;
}

.single-reminder{
  box-shadow: 0 4px 20px 4px rgba(0,0,0,.4);

}

.lisst {
  padding-top: 40px;
  padding-left: 15px;
  margin-bottom: 40px;
}

.reminders{
  font-size: 20px;
  padding: 4px;
}

.reminder-time{
  color: red;
}

.list-item {
  display: inline-block;
}

.delete-button {
  float: right;
  padding-left: 5px;
}

.redbutton {
  width: 32%;
  padding-top: 10px;
  font-size: 17px;
  height: 46px;
  box-shadow: 0 4px 20px 4px rgba(0,0,0,.4);
}
